.header {
    position: relative;
    display: flex;
    min-height: 5rem;
    justify-content: space-between;
    align-items: stretch;
    border-bottom: 4px solid rgba(0, 0, 0, 1);
    margin-bottom: 2.5rem;

    .logo {
        color: black;
        font-size: 1.5rem;
        line-height: 5rem;

        @media screen and (max-width: $tablet) {
            text-align: center;
            width: 100%;
        }
    }

    nav {
        display: flex;
        align-items: stretch;
        @media screen and (max-width: $tablet) {
            width: 100%;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;
        }
    }

    .nav-link {
      @media screen and (max-width: $tablet) {
          flex: 1 0;
      }
        position: relative;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        justify-content: center;
        font-weight: $bold;
        line-height: 1.5rem;
        text-align: center;
        padding: 1rem;

        &.active:after {
            content: ' ';
            height: 4px;
            width: 100%;
            background: $lightpurp;
            border: none;
            position: absolute;
            left: 0;
            bottom: -4px;
        }
    }
}

.header_noimage {
  margin: 4rem 0;
  h1 {
    margin-bottom: 2em;
  }
}
