@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,400i,500,700');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One:300,400,400i,500,700');

html,
body {
    font-size: $tiny;
    font-family: $firasans;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media screen and (max-width: $tablet) { font-size: ($tiny * .9); }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: $bold;
    letter-spacing: 0.02em;
    line-height: 1.2em;
    font-family: $alfaslabone;
    color: $purple;
    margin-bottom: 1rem;
}

h1 {
    color: $black;
    font-size: 2.2rem;
    line-height: 2.8rem;
    text-transform: uppercase;
    margin-top: .4rem;
    @media screen and (max-width: $tablet) {
      font-size: 1.5rem;
      line-height: 1.8rem;
      text-align: center;
    }
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.4rem;
    font-family: $firasans;
    font-weight: 700 !important;
    font-style: italic;
    letter-spacing: -.05em;
    margin-top: .1rem !important;
    @media screen and (max-width: $tablet) {
      margin-top: 1rem;
      font-size: 1.2rem;
    }
}

h4 {
    font-size: 1.2rem;
    color: $blue;
}

h5 {
    font-size: 1rem;
    color: $blue;
}

h6 {
    font-size: 1.2rem;
    color: $black;
    font-family: $firasans;
    font-weight: light;
    line-height: 1.8rem;
}

.sectionheader {
  font-size: 2rem;
  text-align: center;
  font-family: $alfaslabone;
  margin: 2rem 0;
  color: $purple;
}

.summary {
  text-align: left;
  font-weight: lighter;
  @media screen and (min-width: $tablet) {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }


}

p {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0 0 1em 0;
    font-weight: $light;
}

ul {
    list-style-type: square;
    margin: 1rem 0;
    padding: 0 0 0 2.5rem;
    font-weight: $light;
}

ol {
    padding: 0;
    padding-left: 1rem;
}

li {
    line-height: 1.55rem;

    &:not(:last-child) {
        margin-bottom: 0.5rem;
    }
}

strong {
    font-weight: $bold;
}

pre {
    font-size: 0.8rem;
}

blockquote p {
  font-style: normal;
  font-size: 1.2rem !important;
}

.content {
  h2 {
    text-align: center;
    text-transform: uppercase;
  }
}

.slabtexted .slabtext
    {
    display: -moz-inline-box;
    display: inline-block;
    white-space: nowrap;
    }
.slabtextinactive .slabtext
    {
    display: inline;
    white-space: normal;
    font-size: 1em !important;
    letter-spacing: inherit !important;
    word-spacing: inherit !important;
    *letter-spacing: normal !important;
    *word-spacing: normal !important;
    }
.slabtextdone .slabtext
    {
    max-width: 100%;
    display: block;
    }
