#contactform {
  width: 100%;
  background: $transparentblue;
  border-radius: .5rem;
  padding: 1rem 0 1rem 1rem;
  input, textarea {
  margin: .5rem auto 1rem auto;
  width: 50%;
  }
  textarea {
    width: 95%;
      height: 10rem;
    }
  .inputname {
    margin: 0;
  }
  button {
    padding: 1rem;
    background: white;
  }
}
