.toc {
  width: 20rem;
  border: 2px solid gray;
  padding: 0 1rem;
  position: sticky;
  float: right;
  margin: 0 0 1rem 1rem;
  @media screen and (max-width: $tablet) {
      font-size: .8rem;
      width: 10rem;
  }
  li li li {
    display: none;
  }
  .sectionheader {
    font-size: 1.3rem;
  }
  ul, li {
    padding-left: 0;
    list-style: none;
  }
  a {
    font-weight: 400 !important;
    text-transform: uppercase;
  }
}
