.toc {
  width: 20rem;
  border: 2px solid gray;
  padding: 0 1rem;
  position: sticky;
  float: right;
  margin: 0 0 1rem 1rem;
  @media screen and (max-width: $tablet) {
      font-size: 1.2rem;
      width: 10rem;
  }
}

.toc li li li {
  display: none;
}

.toc ul {
  padding-left: 0;
}

.toc li, .toc ul {
  list-style: none;
}

.toc a {
  font-weight: 400 !important;
  text-transform: uppercase;
}
