{{ define "content" }}

{{ $image := .Param "image"}}
{{ $image := (trim $image "/") | absURL }}

    <!-- Main -->
    <section class="page">
        <header class="hero">
            <div class="copy">

              {{ if .Params.image }}
                <div class="header_image">
                  <img src="{{ $image }}" alt="{{ .Description }}">
                </div>
              {{ end }}

                  <h1>{{ .Title }}</h1>
                {{ if .Params.subtitle }}
                <h3>{{ .Params.subtitle | safeHTML }}</h3>
                {{ end }}

            </div>
        </header>
        {{ if .Params.toc }}
          <aside class="toc">
            {{ .TableOfContents | safeHTML }}
          </aside>
        {{ end }}

        {{ if .Params.summary }}
          <div class="summary">
            {{ .Params.summary | markdownify }}
          </div>
        {{end}}
        <div class="content">
          {{ .Content }}
        </div>
    </section>
{{ end }}
