<!-- Footer -->
<footer class="footer container">
    <div class="copyright">{{ partial "markdownify-block" .Site.Data.footer.content }}</div>
    <nav>
        {{ range $link_item := .Site.Data.footer.links }}
            {{ $link_item.text }}
        {{ end }}
    </nav>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{{ "assets/js/jquery.slabtext.js" | relURL }}"></script>
<script src="{{ "assets/js/main.js" | relURL }}"></script>

<script>
$(document).ready(function(){
  $('h1').slabText({
    fontRatio: .85,
    viewportBreakpoint: 300,
    postTweak: true
  });
});
</script>
